/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #header {
     color: rgb(51, 53, 49);
     background-color: lightgray;
     border: 2px solid black;
     padding: 20px;

 }

 #tbl-css{
    color: rgb(51, 53, 49);
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin-left: 30px;
 }

 #th-css{
     border: 1px solid lightblue;
 }

 #td-css{
    border: 1px solid lightblue;
 }

 #body-css tr:nth-child(odd){
     background-color: rgb(170, 200, 240);
 }

 #body-css tr:nth-child(even){
    background-color: rgb(200, 220, 250);
}

#tbl-css thead{
    background-color: rgb(200, 220, 250);
}

